@import '../../../variables.scss';

.convertor {
  padding: 16px;
  &__form {
    width: 400px;
    display: grid;
    gap: 16px;
    border-radius: 4px;
    grid-template-columns: repeat(2, 1fr);
    padding: 16px;
    box-shadow: 4px 4px 8px $secondary-dark, -2px -2px 8px $secondary-light;
  }
  &__item {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }
  &__select, &__input {
    border: none;
    outline: none;
    padding: 4px;
    font-size: 1rem;
  }
  &__select {
    background-color: $primary;
    color: $secondary;
    font-weight: 700;
  }
  &__input {
    width: 100%;
    background-color: $secondary-light;
    color: $primary-dark;
    font-weight: 500;
    padding: 0 0 0 8px;
  }
}